esf-mi-system/cis-bindings/interfaces/API007/AddressWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ************************************************************************************************************ 
*    Version *     Changed By     * Date       * Description
*****************************************************************************************************************  
*     1.0    *  Daniel Dor-Chay   * 29/07/04   * Added CISDate, CISTime,  Field validation on API007
*     1.1    *  Daniel Dor-Chay   * 19/08/04   * Field validation on API022
*     1.2    *  Daniel Dor-Chay   * 1/09/04    * Modified RequestHeader officeLocation is now locationAddress
*     1.3    *  Daniel Dor-Chay   * 08/09/04   * Modified RequestHeader
*     1.4    *  Daniel Dor-Chay   * 22/09/04   * Removed wsfacade schema defined in types and incorporated it into apis schemas
*     1.6    *  Daniel Dor-Chay   * 13/10/04   * For all DeptID, OfceLocn, BenSys in API007 modified response to return decode and contactNo for OfceLocn (CR1748) also added correction flag
*     1.7    *  Daniel Dor-Chay   * 13/10/04   * Modified validation for api022 and 007
 *    1.8    * Petri Tuomola         * 24/06/05   * Added documentation to indicate which APIs will be deprecated in Rel2b 
*****************************************************************************************************************-->
<wsdl:definitions xmlns:tns4="http://api007.webservice.cis.dwp.gov.uk" xmlns:tns3="http://messaging.common.cis.dwp.gov.uk" xmlns:header="http://dwp.gov.uk/Common/Integration/Backbone/Data/Header/2.0" xmlns:tns2="http://api022.webservice.cis.dwp.gov.uk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://wsfacade.webservice.cis.dwp.gov.uk" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://wsfacade.webservice.cis.dwp.gov.uk" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://wsfacade.webservice.cis.dwp.gov.uk">
	<wsdl:import namespace="http://dwp.gov.uk/Common/Integration/Backbone/Data/Header/2.0" location="IBHeader_2.0.xsd"/>
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://api022.webservice.cis.dwp.gov.uk" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://wsfacade.webservice.cis.dwp.gov.uk" xmlns:intf="http://wsfacade.webservice.cis.dwp.gov.uk" xmlns:tns3="http://messaging.common.cis.dwp.gov.uk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://messaging.common.cis.dwp.gov.uk"/>
			<complexType name="API022_UpdateAddressDetailsRequest">
				<sequence>
					<element name="header" nillable="false" type="tns3:RequestHeader"/>
					<element name="nino" nillable="false" type="xsd:string"/>
					<element name="correctionFlag" nillable="true" type="xsd:string"/>
					<element name="addressDetails" nillable="true" type="tns2:Address"/>
					<element name="personAddressDetails" nillable="false" type="tns2:PersonAddress"/>
				</sequence>
			</complexType>
			<complexType name="Address">
				<sequence>
					<element name="addressLine1" nillable="false" type="xsd:string"/>
					<element name="addressLine2" nillable="false" type="xsd:string"/>
					<element name="addressLine3" nillable="true" type="xsd:string"/>
					<element name="addressLine4" nillable="true" type="xsd:string"/>
					<element name="addressLine5" nillable="true" type="xsd:string"/>
					<element name="postCode" nillable="true" type="xsd:string"/>
					<element name="countryCodeID" nillable="true" type="xsd:string"/>
					<element name="uprn" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="PersonAddress">
				<sequence>
					<element name="addressTypeID" nillable="false" type="xsd:string"/>
					<element name="addressStatusTypeID" nillable="true" type="xsd:string"/>
					<element name="persAddrStartDate" nillable="true" type="tns3:CISDate"/>
					<element name="notifiedStartDate" nillable="true" type="tns3:CISDate"/>
					<element name="notifiedEndDate" nillable="true" type="tns3:CISDate"/>
					<element name="persAddrEndDate" nillable="true" type="tns3:CISDate"/>
				</sequence>
			</complexType>
			<complexType name="API022_UpdateAddressDetailsResponse">
				<sequence>
					<element name="header" nillable="false" type="tns3:ResponseHeader"/>
				</sequence>
			</complexType>
			<element name="api022_UpdateAddressDetailsRequest" nillable="false" type="tns2:API022_UpdateAddressDetailsRequest"/>
			<element name="api022_UpdateAddressDetailsResponse" nillable="false" type="tns2:API022_UpdateAddressDetailsResponse"/>			
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="http://messaging.common.cis.dwp.gov.uk" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://wsfacade.webservice.cis.dwp.gov.uk" xmlns:intf="http://wsfacade.webservice.cis.dwp.gov.uk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<complexType name="RequestHeader">
				<sequence>
					<element name="userID" nillable="false" type="xsd:string"/>
					<element name="userName" nillable="true" type="xsd:string"/>
					<element name="accessLevel" nillable="false" type="xsd:string"/>
					<element name="sessionID" nillable="true" type="xsd:string"/>
					<element name="systemID" nillable="false" type="xsd:string"/>
					<element name="subSystemID" nillable="true" type="xsd:string"/>
					<element name="hostName" nillable="false" type="xsd:string"/>
					<element name="departmentID" nillable="true" type="xsd:string"/>
					<element name="locationAddress" nillable="false" type="xsd:string"/>
					<element name="auditFlag" nillable="true" type="xsd:boolean"/>
					<element name="nationalSensitivityAccess" nillable="false" type="xsd:boolean"/>
					<element name="officeID" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="ResponseHeader">
				<sequence>
					<element name="natSensInd" nillable="true" type="xsd:string"/>
					<element maxOccurs="unbounded" name="mgtChkInd" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="CISFaultDetails">
				<sequence>
					<element maxOccurs="unbounded" name="cisErrors" nillable="true" type="tns3:CISError"/>
					<element name="natSensInd" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="CISError">
				<sequence>
					<element name="errorCode" nillable="true" type="xsd:string"/>
					<element name="errorMessage" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<element name="CISFaultDetails" nillable="true" type="tns3:CISFaultDetails"/>
			<simpleType name="CISDate">
				<restriction base="string">
					<pattern value="([0-9]{2}-[a-zA-Z]{3}-[0-9]{4})|(#empty value)"/>
				</restriction>
			</simpleType>
			<simpleType name="CISTime">
				<restriction base="string">
					<pattern value="([0-9]{2}:[0-9]{2}:[0-9]{2})|(#empty value)"/>
				</restriction>
			</simpleType>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="http://api007.webservice.cis.dwp.gov.uk" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://wsfacade.webservice.cis.dwp.gov.uk" xmlns:intf="http://wsfacade.webservice.cis.dwp.gov.uk" xmlns:tns3="http://messaging.common.cis.dwp.gov.uk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://messaging.common.cis.dwp.gov.uk"/>
			<complexType name="API007_GetAddressDetailsRequest">
				<sequence>
					<element name="header" nillable="false" type="tns3:RequestHeader"/>
					<element name="nino" nillable="false" type="xsd:string"/>
					<element name="historyFlag" nillable="true" type="xsd:boolean"/>
					<element name="roleTypeID" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="API007_GetAddressDetailsResponse">
				<sequence>
					<element name="header" nillable="false" type="tns3:ResponseHeader"/>
					<element maxOccurs="unbounded" name="personAddress" nillable="false" type="tns4:AddressDetails"/>
					<element maxOccurs="unbounded" name="personAddressHist" nillable="true" type="tns4:AddressDetails"/>
				</sequence>
			</complexType>
			<complexType name="AddressDetails">
				<sequence>
					<element name="addressTypeID" nillable="false" type="xsd:string"/>
					<element name="roleTypeDesc" nillable="false" type="xsd:string"/>
					<element name="addressTypeDesc" nillable="false" type="xsd:string"/>
					<element name="roleTypeID" nillable="false" type="xsd:string"/>
					<element name="persAddrStartDate" nillable="true" type="tns3:CISDate"/>
					<element name="notifiedStartDate" nillable="false" type="tns3:CISDate"/>
					<element name="persAddrStartDateApplDate" nillable="true" type="tns3:CISDate"/>
					<element name="persAddrEndDate" nillable="true" type="tns3:CISDate"/>
					<element name="notifiedEndDate" nillable="true" type="tns3:CISDate"/>
					<element name="persAddrEndDateApplDate" nillable="true" type="tns3:CISDate"/>
					<element name="addressStatusTypeID" nillable="true" type="xsd:string"/>
					<element name="addressStatusTypeDesc" nillable="true" type="xsd:string"/>
					<element name="persAddrChgMdBenSysID" nillable="true" type="xsd:string"/>
					<element name="persAddrChgMdBenSysDesc" nillable="true" type="xsd:string"/>
					<element name="persAddrChgMdDeptID" nillable="true" type="xsd:string"/>
					<element name="persAddrChgMdDeptDesc" nillable="true" type="xsd:string"/>
					<element name="persAddrChgMdOfceLocnID" nillable="true" type="xsd:string"/>
					<element name="persAddrChgMdOfceLocnDesc" nillable="true" type="xsd:string"/>
					<element name="persAddrChgMdOfceLocnContactNo" nillable="true" type="xsd:string"/>
					<element name="addressStartDate" nillable="true" type="tns3:CISDate"/>
					<element name="addressEndDate" nillable="true" type="tns3:CISDate"/>
					<element name="addressLine1" nillable="false" type="xsd:string"/>
					<element name="addressLine2" nillable="false" type="xsd:string"/>
					<element name="addressLine3" nillable="true" type="xsd:string"/>
					<element name="addressLine4" nillable="true" type="xsd:string"/>
					<element name="addressLine5" nillable="true" type="xsd:string"/>
					<element name="postCode" nillable="true" type="xsd:string"/>
					<element name="countryCode" nillable="true" type="xsd:string"/>
					<element name="uprn" nillable="true" type="xsd:string"/>
					<element name="potentViolentAddr" nillable="true" type="xsd:string"/>
					<element name="futureScans" nillable="true" type="xsd:string"/>
					<element name="mailCodeTypeID" nillable="true" type="xsd:string"/>
					<element name="mailCodeTypeDesc" nillable="true" type="xsd:string"/>
					<element name="addressChecksum" nillable="true" type="xsd:string"/>
					<element name="potlViolAddChgMdBenSysID" nillable="true" type="xsd:string"/>
					<element name="potlViolAddChgMdBenSysDesc" nillable="true" type="xsd:string"/>
					<element name="potlViolAddChgMdDeptID" nillable="true" type="xsd:string"/>
					<element name="potlViolAddChgMdDeptDesc" nillable="true" type="xsd:string"/>
					<element name="potlViolAddChgMdOfceLocnID" nillable="true" type="xsd:string"/>
					<element name="potlViolAddChgMdOfceLocnDesc" nillable="true" type="xsd:string"/>
					<element name="potlViolAddChgMdOfceLocnContactNo" nillable="true" type="xsd:string"/>
					<element name="correctionFlg" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<element name="api007_GetAddressDetailsRequest" nillable="false" type="tns4:API007_GetAddressDetailsRequest"/>
			<element name="api007_GetAddressDetailsResponse" nillable="false" type="tns4:API007_GetAddressDetailsResponse"/>			
		</schema>
	</wsdl:types>
	<wsdl:message name="api022_UpdateAddressDetailsRequest">
		<wsdl:part name="parameters" element="tns2:api022_UpdateAddressDetailsRequest"/>
		<wsdl:part name="ibheader" element="header:IBHeader"/>
	</wsdl:message>
	<wsdl:message name="api022_UpdateAddressDetailsResponse">
		<wsdl:part name="parameters" element="tns2:api022_UpdateAddressDetailsResponse"/>
		<wsdl:part name="ibheader" element="header:IBHeader"/>
	</wsdl:message>
	<wsdl:message name="api007_GetAddressDetailsResponse">
		<wsdl:part name="parameters" element="tns4:api007_GetAddressDetailsResponse"/>
		<wsdl:part name="ibheader" element="header:IBHeader"/>
	</wsdl:message>
	<wsdl:message name="api007_GetAddressDetailsRequest">
		<wsdl:part name="parameters" element="tns4:api007_GetAddressDetailsRequest"/>
		<wsdl:part name="ibheader" element="header:IBHeader"/>
	</wsdl:message>
	<wsdl:message name="CISFaultDetails">
		<wsdl:part name="fault" element="tns3:CISFaultDetails"/>
	</wsdl:message>
	<wsdl:portType name="AddressWS">
		<wsdl:operation name="api022_UpdateAddressDetails">
			<wsdl:documentation>
				A new version of this operation will be available in CorporateCISMaintainAddressDetailsWS at Rel2b go-live. 
			</wsdl:documentation>				
			<wsdl:input name="api022_UpdateAddressDetailsRequest" message="impl:api022_UpdateAddressDetailsRequest"/>
			<wsdl:output name="api022_UpdateAddressDetailsResponse" message="impl:api022_UpdateAddressDetailsResponse"/>
			<wsdl:fault name="CISFaultDetails" message="impl:CISFaultDetails"/>
		</wsdl:operation>
		<wsdl:operation name="api007_GetAddressDetails">
			<wsdl:documentation>
				A new version of this operation will be available in CorporateCISGetAddressDetailsWS at Rel2b go-live. 
			</wsdl:documentation>				
			<wsdl:input name="api007_GetAddressDetailsRequest" message="impl:api007_GetAddressDetailsRequest"/>
			<wsdl:output name="api007_GetAddressDetailsResponse" message="impl:api007_GetAddressDetailsResponse"/>
			<wsdl:fault name="CISFaultDetails" message="impl:CISFaultDetails"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AddressWSSoapBinding" type="impl:AddressWS">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="api022_UpdateAddressDetails">
			<wsdl:documentation>
				A new version of this operation will be available in CorporateCISMaintainAddressDetailsWS at Rel2b go-live. 
			</wsdl:documentation>						
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body parts="parameters" use="literal"/>
				<wsdlsoap:header message="impl:api022_UpdateAddressDetailsRequest" part="ibheader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body parts="parameters" use="literal"/>
				<wsdlsoap:header message="impl:api022_UpdateAddressDetailsResponse" part="ibheader" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CISFaultDetails">
				<wsdlsoap:fault name="CISFaultDetails" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="api007_GetAddressDetails">
			<wsdl:documentation>
				A new version of this operation will be available in CorporateCISGetAddressDetailsWS at Rel2b go-live. 
			</wsdl:documentation>				
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:body parts="parameters" use="literal"/>
				<wsdlsoap:header message="impl:api007_GetAddressDetailsRequest" part="ibheader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body parts="parameters" use="literal"/>
				<wsdlsoap:header message="impl:api007_GetAddressDetailsResponse" part="ibheader" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="CISFaultDetails">
				<wsdlsoap:fault name="CISFaultDetails" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AddressWSService">
		<wsdl:port name="AddressWS" binding="impl:AddressWSSoapBinding">
			<wsdlsoap:address location="http://localhost:9080/cis_webservices_r2/services/AddressWS"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
